.fundo {
  background-image: url(./banner.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  min-width: fit-content;
  height: auto;
}

.link {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  border-radius: 2em;
  justify-content: center;
  color: aliceblue;
  font-size: larger;
  font-weight: bolder;
  margin: 1em;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 0.5em;
  border-radius: 10em;
}

.nav {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
}
